@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

:root{
  --dark-color: #404d61; 
  --darker-color: #18273b;
  --darkest-color: #111827;
  --gray-color: #6b7280;
  --light-color: #eee;
  --redish-color: #f43f5e;
  --purple-color: #4338ca;
}

*{
  box-sizing: border-box;
  margin: 0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body::before{
  background-image: linear-gradient(
    98deg,
    rgb(29, 37, 90),
    rgba(27, 28, 77, 0.5)
  ), url('../images/clay-banks-cEzMOp5FtV4-unsplash.jpg');
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
 }

header{
padding: 2rem 1rem;
max-width: 800px;
width: 100%;
margin: 0 auto;
}

.coolTitle, .subTitle{
  text-align: center;
}

.subTitle{
  margin-bottom: 20px;
}

header h1{
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray-color);
  margin-bottom: 1rem;
}

#todoForm{
  display: flex;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.todoContent{
  flex: 1 1 0%;
}

.todoSubmit{
  border: double 2px rgb(2, 22, 65);
  border-radius: 12px;
  padding: 5px;
}

.userInput{
  flex: 1 1 0%;
  background-color: var(--darker-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light-color);
  font-size: 1.25rem;
}

.userInput::placeholder{
  color: var(--gray-color);  
}

.todoSubmit{
  color: var(--redish-color);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

.todoSubmit:hover{
  opacity: 0.8;  
}

.todoSubmit:active{
  opacity: 0.6;  
}

main{
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.todosList{
  padding: 1rem;
}

.todosList h2{
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray-color);
  margin-bottom: 1rem;
}

#todos .todo{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
  
#todos .todo .todoContent .todoInput{
  color: var(--light-color);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s; 
}

#todos .todo .todoContent .todoInput:not(:read-only){
  color: var(--redish-color);   
}

#todos .todo .actionButtons{
  display: flex;
  margin: 0 -0.5rem;
}

.todo .actionButtons button{
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.todo .actionButtons button:hover{
  opacity: 0.8;
}

.todo .actionButtons button:active{
  opacity: 0.6;
}

.todo .actionButtons .editButton{
 color: teal;
}

.todo .actionButtons .removeButton{
  color: coral;
}



