@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');


html {
    height: 100%;
    font-family: 'Epilogue', sans-serif;
  }


  body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url("../images/clay-banks-cEzMOp5FtV4-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container{
    padding: 15px 5px;
    margin-top: 20px;
    width: 360px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 5px 7px rgb(80, 77, 77);
    background-color: rgb(255, 255, 255);
}


.coolTitle{
  text-align: center;
  font-family: "oswald", Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
  word-spacing: 2px;
  color: tomato;
  text-shadow:    -1px -1px 0 firebrick,    -2px -2px 0 firebrick,    -3px -3px 0 firebrick,    -4px -4px 0 firebrick,    -5px -5px 0 firebrick,    -6px -6px 0 firebrick,    -7px -7px 0 firebrick,    -8px -8px 0 firebrick,    -30px -20px 40px dimgrey;
  margin-bottom: 30px;
  margin-top: 20px;
}

.subTitle{
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.formBody{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}


.addBtn{
  margin: 0 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0 18px;
  background-color: teal;
  color: white;
  border: 2px double teal;
}
.addBtn:hover{
  background-color: white;
  color: teal;
}

.doneBtn{
  margin: 0 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0 18px;
  background-color: white;
  color: orangered;
  border: 2px double orangered;
  margin-left: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.doneBtn:hover{
  background-color: orangered;
  color: white;
}

.removeBtn{
  margin: 0 8px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0 18px;
  background-color: white;
  color: rgb(191, 14, 14);
  border: 2px double rgb(191, 14, 14);
}
.removeBtn:hover{
  background-color: rgb(191, 14, 14);
  color: white;
}

.userInput{
  padding: 8px;
  border-radius: 10px;
  border: none;
  width: 250px;
  border: 2px double teal;
}

#listItem{
  margin-left: -10px;
}

li{ 
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-self: flex-end;
  text-transform: capitalize;
}

.icon{
  font-size: 20px;
}



